<!DOCTYPE html>
<!--<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Forms / Elements - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/tainguyen/assets/img/favicon.png" rel="icon">
    <link href="/tainguyen/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- Vendor CSS Files -->
    <link th:href="@{~/tainguyen/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{~/tainguyen/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{~/tainguyen/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{~/tainguyen/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{~/tainguyen/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{~/tainguyen/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{~/tainguyen/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{~/tainguyen/assets/css/style.css}" rel="stylesheet">

    <style>
        .toast-success {
            background-color: #4CAF50 !important; /* Change this to your desired background color */
            color: #ffffff !important; /* Change this to your desired text color */
        }
        .toast-error{
            background-color: #FF5733 !important; /* Change this to your desired background color for error */
            color: #ffffff !important; /* Change this to your desired text color */
        }
    </style>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="../index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">NiceAdmin</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="assets/img/profile-img.jpg" id="imgprofile" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2" id="fullname2">K. Anderson</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 id="fullname1">Kevin Anderson</h6>
                        <span>Web Designer</span>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{~/admin/profile}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" th:href="@{~/admin/index}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{~/admin/products/add}">
                        <i class="bi bi-circle"></i><span>Thêm Chính Sửa Thông Tin Sản Phẩm</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{~/admin/customers/add}">
                        <i class="bi bi-circle"></i><span>Thêm Chính Sửa Thông Tin Tài Khoản</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{~/admin/products}">
                        <i class="bi bi-circle"></i><span>Danh Sách Sản Phẩm</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{~/admin/customers}">
                        <i class="bi bi-circle"></i><span>Danh Sách Tài Khoản</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{~/admin/order}">
                        <i class="bi bi-circle"></i><span>Danh Sách Đơn Hàng</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->
    </ul>

</aside>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Category</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Form Add Account</h5>
                    <form id="customerForm" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Phần hình ảnh -->
                                <div class="text-success">
                                    <label for="myFile" style="width: 200px;height: 200px">
                                        <img id="imagePreview"
                                             src="/img/profile-img.jpg"
                                             class="img-fluid rounded-circle"
                                             alt="sản phẩm">
                                        <input type="file" class="form-control-file" id="myFile" name="imageFile"
                                               style="display: none;"
                                               placeholder="Image Product" aria-describedby="fileHelpId"
                                               onchange="displayImage()">
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <!-- Phần thông tin người dùng -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Cột 1 -->
                                        <input type="hidden" id="accountId" name="accountId">

                                        <div class="row mb-5">
                                            <label class="col-sm-4 col-form-label">Username</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="username" id="username" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <label class="col-sm-4 col-form-label">Password</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <label class="col-sm-4 col-form-label">Full Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="fullname" id="fullname" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <label class="col-sm-4 col-form-label">Địa chỉ</label>
                                            <div class="col-sm-8">
                                                <input name="adress" type="text" id="address" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Cột 2 -->
                                        <div class="row mb-5">
                                            <label class="col-sm-4 col-form-label">Email</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="email" id="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <label class="col-sm-4 col-form-label">Phone</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="sdt" id="sdt" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <label class="col-sm-4 col-form-label">Status</label>
                                            <div class="col-sm-8">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="role"
                                                           value="ROLE_ADMIN" id="adminRadio">
                                                    <label class="form-check-label" for="adminRadio">Admin</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="role"
                                                           value="ROLE_USER" id="customerRadio">
                                                    <label class="form-check-label" for="customerRadio">Customer</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-12">
                                        <button type="button" id="addButton" class="btn btn-outline-primary">Add
                                        </button>
                                        <button type="button" id="updateButton" class="btn btn-outline-success">Update
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">List Category</h5>
                    <table class="table table-striped table-bordered">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">UserName</th>
                            <th scope="col" style="word-break: break-all; width: 200px">Password</th>
                            <th scope="col">FullName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Other</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="it : ${customers}">
                            <th scope="row" th:text="${it.username}"></th>
                            <td th:text="${it.password}" style="word-break: break-all; width: 200px"></td>
                            <td th:text="${it.fullname}"></td>
                            <td th:text="${it.email}"></td>
                            <td th:text="${it.sdt}"></td>
                            <td>
                                <span th:if="${it.role == 'ROLE_ADMIN'}" th:text="'admin'"></span>
                                <span th:if="${it.role == 'ROLE_USER'}" th:text="'người dùng'"></span>
                            </td>
                            <td>
                                <input type="hidden" th:value="${it.accountId}">
                                <div class="btn-group">
                                    <button th:data-id="${it.accountId}"
                                            onclick="editProduct(this.getAttribute('data-id'));"
                                            class="btn btn-primary btn-sm">
                                        <i class="bi bi-pencil-square"></i>
                                        Edit
                                    </button>
                                    <a th:data-id="${it.accountId}" th:data-name="${it.username}"
                                       onclick="showComfirmDialog(this.getAttribute('data-id'),this.getAttribute('data-name'));"
                                       class="btn btn-danger btn-sm" data-bs-target="#confirmModal">
                                        <i class="bi bi-trash"></i>
                                        Delete
                                    </a>
                                </div>
                                </i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card">
                    <div class="card-footer text-muted">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <script>
                function showComfirmDialog(id, name) {
                    $('#productName').text(name);
                    $('#confirmid').modal('show');
                    // Thêm sự kiện click cho nút Yes
                    $('#yesOption').on('click', function(event) {
                        event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>
                        $('#confirmid').modal('hide');
                        // Gọi API để xóa thông tin
                        fetch('/admin/customers/delete/id=' + id, {
                            method: 'DELETE'
                        })
                            .then(response => {
                                if (response.status === 200) {
                                    // Nếu xóa thành công, hiển thị thông báo và sau 2 giây thực hiện load lại trang
                                    toastr.success('Xóa thành công');
                                    setTimeout(function() {
                                        location.reload();
                                    }, 2000);
                                } else {
                                    // Nếu xóa không thành công, hiển thị thông báo lỗi
                                    toastr.error('Xóa không thành công');
                                }
                            })

                    });
                }

            </script>

            <!-- Modal xác nhận xóa product-->

            <div class="modal fade" id="confirmid" tabindex="-1" aria-labelledby="confirmModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="confirmModalLabel">Thông báo</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <h5 class="modal-title">Bạn có muốn xóa tài khoản <span id="productName"></span> này không?
                            </h5>
                        </div>
                        <div class="modal-footer">
                            <a id="yesOption" type="button" class="btn btn-danger">Xóa</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script th:src="@{~/tainguyen/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{~/tainguyen/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{~/tainguyen/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{~/tainguyen/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{~/tainguyen/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{~/tainguyen/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{~/tainguyen/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{~/tainguyen/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{~/tainguyen/assets/js/main.js}"></script>

<script>

    function displayImage() {
        var preview = document.getElementById('imagePreview');
        var file = document.getElementById('myFile').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = '/img/addProduct.png';
        }
    }

    function editProduct(id) {
        var API = "http://localhost:8080/admin/customers/edit/id=" + id;
        fetch(API)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Trả về promise để xử lý kết quả JSON
            })
            .then(data => {
                // Ở đây, data chứa dữ liệu JSON từ API
                // Lọc và sử dụng dữ liệu cần thiết
                const filteredData = {
                    accountId: data.accountId,
                    address: data.adress,
                    email: data.email,
                    fullname: data.fullname,
                    image: data.image,
                    role: data.role,
                    sdt: data.sdt,
                    username: data.username
                };

                // Điền dữ liệu vào các trường form
                document.getElementById("accountId").value = filteredData.accountId;
                document.getElementById("address").value = filteredData.address;
                document.getElementById("email").value = filteredData.email;
                document.getElementById("fullname").value = filteredData.fullname;

                // Gắn dữ liệu vào đường dẫn SRC của ảnh
                const imageElement = document.getElementById("imagePreview");
                imageElement.src = '/admin/products/images/' + filteredData.image;
                document.getElementById("sdt").value = filteredData.sdt;
                document.getElementById("username").value = filteredData.username;
                // Tạo các nút radio cho trường "role"
                const adminRadio = document.getElementById("adminRadio");
                const userRadio = document.getElementById("customerRadio");

                if (filteredData.role === "ROLE_ADMIN") {
                    adminRadio.checked = true;
                } else if (filteredData.role === "ROLE_USER") {
                    userRadio.checked = true;
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                resultElement.textContent = 'Error fetching data from the API.';
            });
    }

    const customerForm = document.getElementById("customerForm");
    const addButton = document.getElementById("addButton");
    const updateButton = document.getElementById("updateButton");

    // Hàm gửi dữ liệu và xử lý kết quả
    async function sendFormData(url, method, data) {
        try {
            const response = await fetch(url, {
                method: method,
                body: data,
            });

            if (response.ok) {
                const responseData = await response.json();
                toastr.success("thành công", "Thành Công");
                // Đợi 5 giây sau khi trang đã tải xong và sau đó load lại trang
                setTimeout(function() {
                    location.reload();
                }, 3000); // 5000 milliseconds = 5 giây
                // Xử lý dữ liệu trả về từ API tại đâ                                                                       y
            } else {
                toastr.error("Thất Bại", "Thất bại");
                // Xử lý trường hợp lỗi từ API
            }
        } catch (error) {
            alert('Error: ' + error.message);
            console.error("Network error:", error);
            // Xử lý lỗi kết nối mạng hoặc lỗi khác
        }
    }

    // Sự kiện cho nút "Add"
    addButton.addEventListener("click", async () => {
        const formData = new FormData(customerForm);
        await sendFormData("http://localhost:8080/admin/customers/add", "POST", formData); // URL của API thêm
    });

    // Sự kiện cho nút "Update"
    updateButton.addEventListener("click", async () => {
        const formData = new FormData(customerForm);
        await sendFormData("http://localhost:8080/admin/customers/update", "PUT", formData); // URL của API cập nhật
    });

    const apiUrl = 'http://localhost:8080/admin/customers/profile'
    fetch(apiUrl)
        .then(response => {

            // Kiểm tra xem phản hồi có thành công không
            if (!response.ok) {
                throw new Error('Có lỗi khi truy vấn API');
            }
            // Chuyển đổi phản hồi sang định dạng JSON
            return response.json();
        })
        .then(data => {
            // Ở đây bạn có thể làm gì đó với dữ liệu đã lấy được từ API
            const dataprofile = {
                image: data.image,
                fullname: data.fullname
            };
            console.log(dataprofile.image);
            document.getElementById("imgprofile").src = '/admin/products/images/' + dataprofile.image;
            document.getElementById("fullname2").innerText = dataprofile.fullname;
            document.getElementById("fullname1").innerText = dataprofile.fullname;
        })
        .catch(error => {
            console.error('Lỗi:', error);
        });

</script>
</body>

</html>