<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link
            rel="stylesheet"
            href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" th:href="@{~/assets/css/cart-item.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <style>
        .toast-success {
            background-color: #4CAF50 !important; /* Change this to your desired background color */
            color: #ffffff !important; /* Change this to your desired text color */
        }

        .toast-error {
            background-color: #FF5733 !important; /* Change this to your desired background color for error */
            color: #ffffff !important; /* Change this to your desired text color */
        }
    </style>

</head>
<body>
<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header-logo">
                    <a href="index.html">
                        <img th:src="@{~/logo.png}" width="160" height="36" alt="Logo"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="main-navigation">
                    <button class="menu-toggle"><span></span><span></span></button>
                    <nav class="header-menu">
                        <ul class="menu food-nav-menu">
                            <li><a th:href="@{~/tiembanhhoangtube/index}">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#menu">Menu</a></li>
                            <li><a href="#gallery">Gallery</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="header-right">
                        <form action="#" class="header-search-form for-des">
                            <input
                                    type="search"
                                    class="form-input"
                                    placeholder="Search Here..."
                            />
                            <button type="submit">
                                <i class="uil uil-search"></i>
                            </button>
                        </form>
                        <a th:href="@{/cuahangbanbanh/shoppingcart}" class="header-btn header-cart">
                            <i class="uil uil-shopping-bag"></i>
                            <span text="" id="sl" class="cart-number"></span>
                        </a>
                        <div class="header-btn">
                            <div id="main-wrapper">
                                <main class="main" role="main" id="main-content">
                                    <div id="main-top-bar">
                                        <div class="user-menu">
                                            <div class="user-menu-item">
                                                <a href="javascript:void(0)"  >
                                                    <i class="uil uil-user-md"></i>
                                                </a>

                                                <div class="user-dropdown">
                                                    <a th:href="@{~/tiembanhhoangtube/index}" class="dropdown-item">
                                                        <span class="mr-3"><i class="fa fa-home"></i></span> Home
                                                    </a>
                                                    <a th:href="@{/user/profile}" class="dropdown-item">
                                                        <span class="mr-3"><i class="fa fa-address-book"></i></span> Profile
                                                    </a>

                                                    <!-- Kiểm tra cookie JSESSIONID tồn tại -->
                                                    <a th:if="${session.containsKey('JSESSIONID')}" th:href="@{/logout}" class="dropdown-item">
                                                        <span class="mr-3"><i class="fa fa-power-off"></i></span> Logout
                                                    </a>

                                                    <!-- Kiểm tra cookie JSESSIONID không tồn tại -->
                                                    <a th:unless="${session.containsKey('JSESSIONID')}" th:href="@{/api/login}" class="dropdown-item">
                                                        <span class="mr-3"><i class="fa fa-user-md"></i></span> Login
                                                    </a>
                                                    <a th:unless="${session.containsKey('JSESSIONID')}" class="dropdown-item" href="/register">
                                                        <span class="mr-3"><i class="fa fa-user-plus"></i></span> Register
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shape"></div>
                                    </div>
                                </main>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img id="img" src="/img/profile-img.jpg"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3"></h5>
                        <p class="text-muted mb-4" id="address"></p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" id="fullname">Johnatan Smith</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" id="email">example@example.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" id="sdt">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" id="address1">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <button class="btn btn-primary" id="editButton">Chỉnh sửa</button>
                                <button class="btn btn-primary" id="changePasswordButton">Đổi mật khẩu</button>
                                <div id="editForm" style="display: none;">
                                    <form id="editProfile" enctype="multipart/form-data">
                                        <input type="hidden" name="accountId" id="id">
                                        <input type="hidden" name="username" value="" id="username">
                                        <div class="form-group">
                                            <label >Chọn file ảnh:</label>
                                            <input type="file" class="form-control" id="imageInput" name="imageFile" required>
                                        </div>
                                        <div class="form-group">
                                            <label >Full name:</label>
                                            <input type="text" class="form-control" id="fullNameInput" name="fullname" required>
                                        </div>
                                        <div class="form-group">
                                            <label >Địa chỉ:</label>
                                            <input type="text" class="form-control" name="adress" id="addressInput" required>
                                        </div>
                                        <div class="form-group">
                                            <label >Số điện thoại:</label>
                                            <input type="text" class="form-control" name="sdt" id="phoneInput" required>
                                        </div>
                                        <div class="form-group">
                                            <label >Email:</label>
                                            <input type="email" class="form-control" name="email" id="emailInput" required>
                                        </div>
                                        <button type="button" id="addbtn" class="btn btn-primary">Lưu</button>
                                    </form>
                                </div>
                                <div id="changePasswordForm" style="display: none;">
                                    <form>
                                        <div class="form-group">
                                            <label for="currentPasswordInput">Mật khẩu hiện tại:</label>
                                            <input type="password" name="password" class="form-control"
                                                   id="currentPasswordInput">
                                        </div>
                                        <div class="form-group">
                                            <label for="newPasswordInput">Mật khẩu mới:</label>
                                            <input type="password" name="newpassword" class="form-control"
                                                   id="newPasswordInput">
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmPasswordInput">Xác nhận mật khẩu mới:</label>
                                            <input type="password" class="form-control" id="confirmPasswordInput">
                                        </div>
                                        <button type="button"  id="changePassword" class="btn btn-outline-success">Đổi mật khẩu</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<!-- footer starts  -->
<footer class="site-footer" id="contact">
    <div class="top-footer section">
        <div class="sec-wp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-info">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="logo.png" alt=""/>
                                </a>
                            </div>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Mollitia, tenetur.
                            </p>
                            <div class="social-icon">
                                <ul style="display: flex">
                                    <li style="margin: 0 6px">
                                        <a href="#">
                                            <i class="uil uil-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li style="margin: 0 6px">
                                        <a href="#">
                                            <i class="uil uil-instagram"></i>
                                        </a>
                                    </li>
                                    <li style="margin: 0 6px">
                                        <a href="#">
                                            <i class="uil uil-github-alt"></i>
                                        </a>
                                    </li>
                                    <li style="margin: 0 6px">
                                        <a href="#">
                                            <i class="uil uil-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="footer-flex-box">
                            <div class="footer-table-info">
                                <h3 class="h3-title">open hours</h3>
                                <ul>
                                    <li>
                                        <i class="uil uil-clock"></i> Mon-Thurs : 9am - 22pm
                                    </li>
                                    <li>
                                        <i class="uil uil-clock"></i> Fri-Sun : 11am - 22pm
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-menu food-nav-menu">
                                <h3 class="h3-title">Links</h3>
                                <ul class="column-2">
                                    <li>
                                        <a href="#home" class="footer-active-menu">Home</a>
                                    </li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#menu">Menu</a></li>
                                    <li><a href="#gallery">Gallery</a></li>
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </div>
                            <div class="footer-menu">
                                <h3 class="h3-title">Company</h3>
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Cookie Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center"></div>
            </div>
            <button class="scrolltop"><i class="uil uil-angle-up"></i></button>
        </div>
    </div>
</footer>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/email-validator/dist/email-validator.min.js"></script>

<!-- bootstrap -->
<script th:src="@{~/assets/js/bootstrap.min.js}"></script>
<script th:src="@{~/assets/js/popper.min.js}"></script>

<!-- fontawesome  -->
<script th:src="@{~/assets/js/font-awesome.min.js}"></script>

<!-- swiper slider  -->
<script th:src="@{~/assets/js/swiper-bundle.min.js}"></script>

<!-- mixitup -- filter  -->
<script th:src="@{~/assets/js/jquery.mixitup.min.js}"></script>

<!-- fancy box  -->
<script th:src="@{~/assets/js/jquery.fancybox.min.js}"></script>

<!-- parallax  -->
<script th:src="@{~/assets/js/parallax.min.js}"></script>

<!-- gsap  -->
<script th:src="@{~/assets/js/gsap.min.js}"></script>

<!-- scroll trigger  -->
<script th:src="@{~/assets/js/ScrollTrigger.min.js}"></script>
<!-- scroll to plugin  -->
<script th:src="@{~/assets/js/ScrollToPlugin.min.js}"></script>
<!-- rellax  -->
<!-- <script src="assets/js/rellax.min.js"></script> -->
<!-- <script src="assets/js/rellax-custom.js"></script> -->
<!-- smooth scroll  -->
<script th:src="@{~/assets/js/smooth-scroll.js}"></script>
<!-- custom js  -->
<script th:src="@{~/main.js}"></script>
<script>
    $(".user-menu").click(function () {
        $(this).toggleClass("show");
    });

    // Địa chỉ URL của API bạn muốn truy vấn
    const apiUrl = 'http://localhost:8080/users/profile';

    // Lấy dữ liệu từ API bằng cách sử dụng fetch
    fetch(apiUrl)
        .then(response => {

            // Kiểm tra xem phản hồi có thành công không
            if (!response.ok) {
                throw new Error('Có lỗi khi truy vấn API');
            }
            // Chuyển đổi phản hồi sang định dạng JSON
            return response.json();
        })
        .then(data => {
            // Ở đây bạn có thể làm gì đó với dữ liệu đã lấy được từ API
            const dataprofile = {
                accountId: data.accountId,
                address: data.adress,
                email: data.email,
                fullname: data.fullname,
                image: data.image,
                role: data.role,
                sdt: data.sdt,
                username: data.username
            };
            document.getElementById("img").src = '/tiembanhhoangtube/images/' + dataprofile.image;
            document.getElementById("address").textContent = dataprofile.address;
            document.getElementById("email").textContent = dataprofile.email;
            document.getElementById("fullname").textContent = dataprofile.fullname;
            document.getElementById("address1").textContent = dataprofile.address;
            document.getElementById("sdt").textContent = dataprofile.sdt;
            document.getElementById("username").value = dataprofile.username;
            document.getElementById("id").value = dataprofile.accountId;
        })
        .catch(error => {
            console.error('Lỗi:', error);
        });

    document.getElementById("editButton").addEventListener("click", function () {
        var editForm = document.getElementById("editForm");
        if (editForm.style.display === "none") {
            editForm.style.display = "block";
        } else {
            editForm.style.display = "none";
        }
    });
    document.getElementById("changePasswordButton").addEventListener("click", function () {
        var changePasswordForm = document.getElementById("changePasswordForm");
        if (changePasswordForm.style.display === "none") {
            changePasswordForm.style.display = "block";
        } else {
            changePasswordForm.style.display = "none";
        }
    });

    async function sendFormData(url, method, data) {
        try {
            const response = await fetch(url, {
                method: method,
                body: data,
            });

            console.log(response.status);
            if (response.status === 200) {
                // const responseData = await response.json();
                toastr.success("Thay đổi thông tin thành công", "Thành Công");

                setTimeout(function () {
                    location.reload();
                }, 3000);
            } else {
                toastr.error("Thay đổi thông tin thất bại", "Thất bại");
                // Xử lý trường hợp lỗi từ API
            }
        } catch (error) {
            console.error("Network error:", error);
            // Xử lý lỗi kết nối mạng hoặc lỗi khác
        }
    }
    const addbt = document.getElementById('addbtn');
    const formdata = document.getElementById('editProfile');
    // Sự kiện cho nút "Add"
    addbt.addEventListener("click", async () => {
        const formData = new FormData(formdata);
        await sendFormData("http://localhost:8080/users/profile/update/add", "PUT", formData); // URL của API thêm
    });

    // đổi mật khẩu

    const changePassword = document.getElementById('changePassword');
    changePassword.addEventListener("click", async () => {
        const oldpassword = document.getElementById("currentPasswordInput").value;
        const newpassword = document.getElementById('newPasswordInput').value;
        const confirmPassword = document.getElementById('confirmPasswordInput').value;

        console.log(oldpassword, newpassword);
        // Kiểm tra xem mật khẩu mới và mật khẩu xác nhận có khớp nhau
        if (newpassword !== confirmPassword) {
            toastr.error("Mật khẩu xác nhận không khớp.", "Lỗi");
            return;
        }

        // Tạo object chứa dữ liệu để gửi đến API
        const data = {
            password: oldpassword,
            newpassword: newpassword
        };

        try {
            const response = await fetch("http://localhost:8080/users/profile/changePassword", {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            if (response.status === 200) {
                toastr.success("Mật khẩu đã được thay đổi.", "Thành Công");
                setTimeout(function () {
                    location.reload();
                }, 3000);
            } else {
                toastr.error("Thay đổi mật khẩu thất bại.", "Lỗi");
            }
        } catch (error) {
            alert('Error: ' + error.message);
            console.error("Network error:", error);
        }

    });

    const API = 'http://localhost:8080/tiembanhhoangtube/slgiohang'

    fetch(API).then(response => {

        // Kiểm tra xem phản hồi có thành công không
        if (!response.ok) {
            throw new Error('Có lỗi khi truy vấn API');
        }
        // Chuyển đổi phản hồi sang định dạng JSON
        return response.json();
    }).then(data =>{
        console.log(data);
        document.getElementById('sl').innerText = data;
    })

</script>
</html>
